
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(243, 244, 246);
}

.navbar-custom .navbar-toggler {
    color: #ffffff;
    background-color: #ffffff;
    border-color: #ffffff;
}

li{
    margin-right: 30px;
}

#inicio img{
    height: 250px;
    width: 250px;
}

.my-img{
    cursor: pointer;
}

.video-info{
    width: 100%;
    height: auto;
    background-color: #393e46;
    padding-top: 70px;
    padding-bottom: 50px;
}

#nosotros{
    padding-top: 80px;
}

#imgUs{
    margin-right: 50px;
}

#formNosotros input[type="text"], input[type="submit"]{
    width: 75%;
}

#formNosotros textarea{
    width: 75%;
}

.a-us{
    text-decoration: none;
    color: white;
    display: block;
    margin-top: 30px;
    font-size: 18px;
}

/* MEDIA QUERYS */

@media (max-width: 415px) {

    #inicio img{
        height: 250px;
        width: 100%;
    }
    
    #servicios{
        padding-top: 0px;
    }

    #nosotros{
        padding-top: 30px;
    }
    
    #imgUs{
        margin-right: 10px;
    }
    #formNosotros input[type="text"], input[type="submit"]{
        width: 100%;
    }
    
    #formNosotros textarea{
        width: 100%;
    }
}