
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.dark-background-pattern{
    background-image: url("../img/bg_dark_ultra-height.svg");
    background-size: 100%;
    background-repeat: repeat;
}

.banner-img{
    z-index: 6;
}

.info-box{
    font-family: Arial, Helvetica, sans-serif, serif;
    font-weight: 600;
    margin-top: 0px;
    text-shadow: 3px 3px 3px black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.menu-fixed {
    position: sticky !important;
    top: 0;
    z-index: 2;
    background: #0d6efd;
    display: flex;
    align-items: center;
    justify-content: center;
}

#floatNav{
    top: 70px;
}

#floatNav div a{
    color: white;
    text-decoration: none;
    display: none;
    transition: all 1000ms;
}

#floatNav div a:hover{
    transition: all 1000ms;
}

#navbarNav{
    z-index: 10 !important;
    width: 50%;
}

#navbarNav ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

#navbarNav ul li{
    margin-right: 30px;
    display: flex;
    align-items: center;
}

#navbarNav ul li a, button{
    color: white;
    text-decoration: none;
    padding: 7px 8px 8px 8px;
}

#navbarNav ul li button{
    color: white;
    text-decoration: none;
    padding: 7px 8px 8px 8px;
}

li a, button{
    transition: all 500ms !important;
}

li a:hover, button:hover{
    background: rgba(255,255,255,.4);
}

.menu_hamburguer{
    width: 40px;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: rgba(255,255,255,.5);
    display: none;
}

#inicio{
    background-image: url("../img/portada-img.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
}

#inicio img{
    height: 250px;
    width: 250px;
}

.my-img{
    cursor: pointer;
}

.video-info{
    width: 100%;
    height: auto;
    padding-top: 70px;
    padding-bottom: 50px;
}

#nosotros{
    padding-top: 80px;
}

#imgUs{
    margin-right: 50px;
}

#formNosotros input[type="text"], input[type="submit"]{
    width: 75%;
}

#formNosotros textarea{
    width: 75%;
}

.a-us{
    text-decoration: none;
    color: white;
    display: block;
    margin-top: 30px;
    font-size: 18px;
}

footer{
    background: black !important;
    width: auto;
}

footer > div > div > img{
    width: 170px;
}

.loader {
    --loader: rgb(49, 180, 255);
    --loader-size: 30px;
    position: relative;
    width: 100px;
    height: 40px;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 2px
}

.loader span {
    position: absolute;
}

.loader span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: var(--loader-size);
    background: linear-gradient(90deg, transparent, var(--loader));
    animation: loader-anim1 1s linear infinite;
}

/* Keyframes */


@keyframes loader-anim1 {
    0% {
        left: -100%;
    }

    50%,100% {
        left: 100%;
    }
}

.loader  span:nth-child(2) {
    top: -100%;
    right: 0;
    width: var(--loader-size);
    height: 100%;
    background: linear-gradient(180deg, transparent, var(--loader));
    animation: loader-anim2 1s linear infinite;
    animation-delay: .25s
}

@keyframes loader-anim2 {
    0% {
        top: -100%;
    }

    50%,100% {
        top: 100%;
    }
}

.loader span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: var(--loader-size);
    background: linear-gradient(270deg, transparent, var(--loader));
    animation: loader-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes loader-anim3 {
    0% {
        right: -100%;
    }

    50%,100% {
        right: 100%;
    }
}

.loader span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: var(--loader-size);
    height: 100%;
    background: linear-gradient(360deg, transparent, var(--loader));
    animation: loader-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes loader-anim4 {
    0% {
        bottom: -100%;
    }

    50%,100% {
        bottom: 100%;
    }
}

/* MEDIA QUERYS */

@media (max-width: 415px) {

    .dark-background-pattern{
        /*background-image: url(img/bg_dark_ultra-height.svg);*/
        /*background-size: 100%;*/
        /*background-repeat: repeat;*/
    }

    .carousel-item{
        overflow: hidden !important;
        height: 150px !important;
        border-radius: 5px;
        & .img-carousel img{
            width: 32% !important;
        }
    }

    #content-inicio-info{
        justify-content: center !important;
        & div{
            width: 100% !important;
            align-items: center !important;
        }
    }

    .menu-fixed{
        justify-content: space-between !important;
        padding-left: 0px !important;
        width: 100%;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 1fr;
        position: relative;
        & .menu_hamburguer_box{
            width: 100% !important;
            height: 20px;
            display: flex;
            justify-content: end;
        }
        & #navbarNav{
            width: 100%;
            position: absolute;
            background: #0d6efd;
            top: 50px;
            transform: translateX(-100%);
            transition: transform 300ms;
            &  ul{
                list-style: none;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                & li{
                    display: flex;
                    justify-content: center;
                    & a{
                        color: white;
                        text-decoration: none;
                        padding:5px 150px;
                    }
                    & button{
                        padding: 5px 130px;
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }

    #floatNav{
        top: 280px !important;
    }

    .menu_hamburguer{
        display: block;
    }

    #inicio{
        background-image: none;
    }

    #title-h1{
        font-size: 45px;
        text-align: center;
    }

    #floatNav{
        top: 260px;
    }

    #inicio{
        height: auto;
    }

    #inicio img{
        height: 250px;
        width: 100%;
    }

    #servicios{
        height: auto;
        padding-top: 0px;
    }

    #nosotros{
        padding-top: 30px;
    }

    #form-contact{
        width: 100% !important;
    }

    #imgUs{
        margin-right: 10px;
    }
    #formNosotros input[type="text"], input[type="submit"]{
        width: 100%;
    }

    #formNosotros textarea{
        width: 100%;
    }
        footer > div > .img-div{
            display: flex;
            justify-content: center !important;
            padding: 0px !important;
        }

        footer > div > div > img{
            width: 150px;
            margin-bottom: 10px;
        }
}

@media (max-width: 375px){

     #servicios{
        height: auto;
        padding-top: 100px;
    }
}
