
.box-img-galery{
    position: relative;
    cursor: pointer;
}

.box-img-galery img{
    opacity: .7;
    transition: opacity 500ms;
}

.box-img-galery img:hover{
    opacity: 1;
}

.box-img-galery .img-desc{
    position: absolute;
    bottom: 0px;
    background: rgba(255,255,255,.4);
    width: 100%;
    height: 15%;
    display: none;
    justify-content: center;
    padding-right: 10px;
    align-items: start;
}

.box-img-galery:hover .img-desc{
    display: flex;
    transition: all 2500ms;
}

.box-img-galery .img-desc .btn, i{
    font-weight: 700;
}

.fullScreen{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0px;
    background: rgba(0,0,0,.8);
}

.fullImgScreen{
    width: 100%;
    height: 100%;
}

.closeButton{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 40px;
    color: white;
    background: transparent;
    outline: none;
    border: none;
}

